!!! 5
html
    head
        title El Limacoco - Capitán Paz
        meta(name='viewport', content='width=device-width, initial-scale=1.0')<
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        meta(name='description', content="")
        meta(property="og:image", content="")
        meta(property="og:url", content="")
        meta(property="og:title", content="")

        link(href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css', rel='stylesheet', media='screen')
        link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel="stylesheet")
        link(href='css/style.css', rel='stylesheet', media='screen')

        link(rel="apple-touch-icon", href="")
        link(rel="apple-touch-icon", sizes="72x72", href="")
        link(rel="apple-touch-icon", sizes="114x114", href="")
        link(rel="apple-touch-icon", sizes="144x144", href="")

        link(rel="shortcut icon", href="", type="image/x-icon")
        link(rel="icon", href="", type="image/x-icon")

        script(type="text/javascript" src="//use.typekit.net/qzi4bbs.js")
        script(type="text/javascript") try{Typekit.load();}catch(e){}


    body
        section.cover
            .container-fluid
                .row
                    .col-sm-4.col-sm-offset-7
                        .content-wrap
                            .socialicons
                                a(href="#")
                                    span.fa-stack.fa-lg
                                        i.fa.fa-circle.fa-stack-2x
                                        i.fa.fa-facebook.fa-stack-1x.fa-inverse
                                a(href="#")
                                    span.fa-stack.fa-lg
                                        i.fa.fa-circle.fa-stack-2x
                                        i.fa.fa-twitter.fa-stack-1x.fa-inverse
                                a(href="#")
                                    span.fa-stack.fa-lg
                                        i.fa.fa-circle.fa-stack-2x
                                        i.fa.fa-youtube.fa-stack-1x.fa-inverse
                            .box
                                h3 ESCUCHALO GRATIS
                                iframe(style='border: 0; width: 100%; height: 42px;', src='http://bandcamp.com/EmbeddedPlayer/album=3378114850/size=small/bgcol=333333/linkcol=9a64ff/transparent=true/', seamless='') 
                                a(href="http://limacoco.bandcamp.com/album/el-limacoco") El Limacoco by El Limacoco


            .name
                img.img-responsive(src="img/title.png")
            
            .cornerstone
                img.img-responsive(src="img/cornerlogo-01.png")
        

        
        script(type='text/javascript' src='/js/jquery.js')
        script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")
